@import '../node_modules/react-md/src/scss/react-md';

$md-primary-color: $md-teal-500;
$md-secondary-color: $md-lime-a-400;

@include react-md-everything;

body{
	padding:0;
	margin:0;
}

.md-logo,.md-logo-text{
	display: inline-block;
	max-width: 50px;
	vertical-align: middle;
}


.app-footer {
  background: $md-grey-800;
  color: $md-white-base;

  p,
  .md-title,
  .md-body-2 {
    color: inherit;
  }
}

.md-cell.quick-nav {
  align-items: center;
  background: $md-deep-purple-500;
  height: 88px;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
  padding-left: 2.5em;
  padding-right: 2.5em;
  width: calc(100% + 16px);

  .md-headline,
  .md-subheading-2 {
    margin-bottom: 0;
  }

  .md-icon,
  .md-subheading-2 {
    color: $md-dark-theme-secondary-text-color;
  }

  .md-headline {
    color: $md-white-base;
  }
}

.nav-titles {
  display: inline-block;
}
