@import 'react-md/src/scss/react-md';

$md-primary-color: $md-teal-500;
$md-secondary-color: $md-lime-a-400;

@include react-md-everything;

body{
	padding:0;
	margin:0;
}


.md-logo,.md-logo-text{
	display: inline-block;
	max-width: 50px;
	vertical-align: middle;
}
